<div class="wrapper border">
  <div class="container">
    <div class="row justify-content-md-center"> 

        <div class="col col-md-8 col-lg-6">
               
            <form [ngClass]="{'form-login': true}" (ngSubmit)="login()" [formGroup]="loginForm">
                <mat-form-field appearance="outline" [ngClass]="{'form-group': true}">
                  <mat-label>Enter you nikname or email</mat-label>
                    <input  type="text" matInput placeholder="Placeholder" formControlName="userName" >
                    <mat-hint *ngIf="">Hint</mat-hint>
                </mat-form-field>

                <mat-form-field appearance="outline" [ngClass]="{'form-group': true}">
                  <mat-label>Enter you password</mat-label>
                    <input type="password" matInput placeholder="Placeholder" formControlName="userPass">
                    <mat-hint *ngIf="" >Hint</mat-hint>
                </mat-form-field>
                
                <div [ngClass]="{'form-group': true}">
                  <button type="submit" mat-stroked-button color="primary" [disabled]="loginForm.invalid" >Primary</button>
                </div>
            </form>
        </div>

    </div>
  </div>
</div>

