<div class="wrapper-single-card">
  <div class="container">
    <div class="row">

      <div [ngClass]="{'inner-single-card': true}">
        <mat-card class="d-flex flex-row flex-nowrap single-card">
          
          <div [ngClass]="{'img-block': true}">
            <img  src="{{person.avatar}}" alt="foto-{{person.id}}">
          </div>
        
          <mat-card-content [ngClass]="{'content-block': true}" > 
            <h1>{{person.first_name}} {{person.last_name}}</h1>
            <div> E-mail: {{person.email}}</div>
            <div> ID person: <strong>{{person.id}}</strong></div>
          </mat-card-content>
        
        </mat-card>
      </div>

    </div>
  </div>
</div>


