
<div class="wrapper-create-elem">
   <div class="container">
     <div class="row justify-content-md-center">
       
      <div class="col col-md-8 ">
          <form [formGroup]="createForm" class="mt-3">
            
            <div class="head-form d-flex flex-row align-items-center" >
              <div class="img-block mr-5">
                <img src="{{avatarUrl}}" alt="" name="avatar" >
              </div>    
              <input type="file" name="upload" (change)="onAttachPic($event)" formControlName="avatar">
            </div>
            
            <div class="body-form mt-5">

              <mat-form-field appearance="outline" [ngClass]="{'form-group': true}">
                <mat-label>Enter your email</mat-label>
                <input type="email" matInput formControlName="email">
                <mat-error *ngIf="(createForm.get('email').touched && createForm.get('email').dirty)"> 
                  <span *ngIf="createForm.get('email').errors?.required">
                    Поле обязательно должно быть заполнено.
                  </span>
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" [ngClass]="{'form-group': true}">
                <mat-label>Enter your first name</mat-label>
                <input type="text" matInput formControlName="first_name">
                <mat-error *ngIf="(createForm.get('first_name').touched && createForm.get('first_name').dirty )"> 
                  <span *ngIf="createForm.get('first_name').errors?.required">
                    Поле обязательно должно быть заполнено.
                  </span>
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" [ngClass]="{'form-group': true}">
                <mat-label>Enter your last name</mat-label>
                <input type="text" matInput formControlName="last_name">
                <mat-error
                  *ngIf="( createForm.get('last_name').touched && createForm.get('last_name').dirty )"> 
                  <span *ngIf="createForm.get('last_name').errors?.required">
                    Поле обязательно должно быть заполнено.
                  </span>
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" [ngClass]="{'form-group': true}">
                <mat-label>Enter your password</mat-label>
                <input type="password" matInput formControlName="password">
                <mat-error *ngIf="(createForm.get('password').touched && createForm.get('password').dirty)"> 
                  <span *ngIf="createForm.get('password').errors?.required">
                     Поле обязательно должно быть заполнено.
                  </span>
                </mat-error>
              </mat-form-field>
            
            </div>

            <button 
              type="submit" 
              mat-stroked-button 
              color="primary" 
              (click)="save($event)" 
              [disabled]="createForm.invalid"
              >Primary</button>
            </form>
          </div>
        </div>
      </div> 
      
    </div>
    
    <!-- [disabled]="createForm.invalid"  -->